/* Estilos*/
.portada-section{
    height: 550px;
    background-image: url(../imgs/bg-portada.jpg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.portada-section h1 {
    font-size: 3rem;
    color: white;
    margin-right: 1rem;
}

.portada-section p {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    margin-right: 1rem;
}

.exper-section{
    height: 400px; 
}


.educ-section{
    height: 400px;
}